logic-apps/clean-reference-data.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "AssetMaintenanceRefDataBlobs": {
        "inputs": {
          "variables": [
            {
              "name": "assetMaintenanceRefDataBlobs",
              "type": "array"
            }
          ]
        },
        "runAfter": {},
        "type": "InitializeVariable"
      },
      "CleanupAssetMaintenanceRefDataBlobs": {
        "inputs": {
          "variables": [
            {
              "name": "cleanupAssetMaintenanceRefDataBlobs",
              "type": "boolean",
              "value": "@true"
            }
          ]
        },
        "runAfter": {
          "LatestAssetMaintenanceRefDataPointer": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "CleanupSensorJobExecutionsRefDataBlobs": {
        "inputs": {
          "variables": [
            {
              "name": "cleanupSensorJobExecutionsRefDataBlobs",
              "type": "boolean",
              "value": "@true"
            }
          ]
        },
        "runAfter": {
          "LatestSensorJobExecutionsRefDataPointer": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "CleanupSensorJobItembatchAttributeMappingsRefDataBlobs": {
        "inputs": {
          "variables": [
            {
              "name": "cleanupSensorJobItembatchAttributeMappingsRefDataBlobs",
              "type": "boolean",
              "value": "@true"
            }
          ]
        },
        "runAfter": {
          "LatestSensorJobItembatchAttributeMappingsRefDataPointer": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "CleanupSensorJobsRefDataBlobs": {
        "inputs": {
          "variables": [
            {
              "name": "cleanupSensorJobsRefDataBlobs",
              "type": "boolean",
              "value": "@true"
            }
          ]
        },
        "runAfter": {
          "LatestSensorJobsRefDataPointer": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "GetLatestAssetMaintenanceRefDataPointer": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent('sensorintelligencereferencedata/scenarios/assetmaintenance.json'))}/content",
          "queries": {
            "inferContentType": true
          }
        },
        "runAfter": {
          "SetAssetMaintenanceRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "GetLatestSensorJobExecutionsRefDataPointer": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent('sensorintelligencereferencedata/scenarios/productionjobdelayed.json'))}/content",
          "queries": {
            "inferContentType": true
          }
        },
        "runAfter": {
          "SetSensorJobExecutionsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "GetLatestSensorJobItembatchAttributeMappingsRefDataPointer": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent('sensorintelligencereferencedata/scenarios/productquality.json'))}/content",
          "queries": {
            "inferContentType": true
          }
        },
        "runAfter": {
          "SetSensorJobItembatchAttributeMappingsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "GetLatestSensorJobsRefDataPointer": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent('sensorintelligencereferencedata/scenarios/equipmentdowntime.json'))}/content",
          "queries": {
            "inferContentType": true
          }
        },
        "runAfter": {
          "SetSensorJobsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "IfCleanupAssetMaintenanceRefDataBlobs": {
        "actions": {
          "AssetMaintenanceRefDataCleanupLoop": {
            "actions": {
              "IfAssetMaintenanceRefDataNeedsToBeDeleted": {
                "actions": {
                  "DeleteAssetMaintenanceRefDataBlob": {
                    "inputs": {
                      "headers": {
                        "SkipDeleteIfFileNotFoundOnServer": false
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                      },
                      "method": "delete",
                      "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent(items('AssetMaintenanceRefDataCleanupLoop')?['Path']))}"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                  }
                },
                "expression": {
                  "and": [
                    {
                      "less": [
                        "@items('AssetMaintenanceRefDataCleanupLoop')?['LastModified']",
                        "@subtractFromTime(utcNow(), 7, 'Day')"
                      ]
                    },
                    {
                      "not": {
                        "equals": [
                          "@items('AssetMaintenanceRefDataCleanupLoop')?['Path']",
                          "@variables('latestAssetMaintenanceRefDataPointer')"
                        ]
                      }
                    }
                  ]
                },
                "runAfter": {},
                "type": "If"
              }
            },
            "foreach": "@variables('assetMaintenanceRefDataBlobs')",
            "runAfter": {},
            "type": "Foreach"
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@variables('cleanupAssetMaintenanceRefDataBlobs')",
                "@true"
              ]
            }
          ]
        },
        "runAfter": {
          "SetCleanupAssetMaintenanceRefDataBlobsToFalseBecauseNoRefDataBlobExists": [
            "Succeeded",
            "Skipped"
          ],
          "SetCleanupAssetMaintenanceRefDataToFalseBecauseLatestRefDataPointerDoesNotExist": [
            "Succeeded",
            "Skipped"
          ],
          "SetLatestAssetMaintenanceRefDataPointer": [
            "Succeeded",
            "Skipped"
          ]
        },
        "type": "If"
      },
      "IfCleanupSensorItemBatchAttributeMappingsRefDataBlobs": {
        "actions": {
          "SensorJobItemBatchAttributeMappingCleanupLoop": {
            "actions": {
              "IfSensorJobItemBatchAttributeMappingRefDataNeedsToBeDeleted": {
                "actions": {
                  "DeleteSensorJobItemBatchAttributeMappingRefDataBlob": {
                    "inputs": {
                      "headers": {
                        "SkipDeleteIfFileNotFoundOnServer": false
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                      },
                      "method": "delete",
                      "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent(items('SensorJobItemBatchAttributeMappingCleanupLoop')?['Path']))}"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                  }
                },
                "expression": {
                  "and": [
                    {
                      "less": [
                        "@items('SensorJobItemBatchAttributeMappingCleanupLoop')?['LastModified']",
                        "@subtractFromTime(utcNow(), 7, 'Day')"
                      ]
                    },
                    {
                      "not": {
                        "equals": [
                          "@items('SensorJobItemBatchAttributeMappingCleanupLoop')?['Path']",
                          "@variables('latestSensorJobItembatchAttributeMappingsRefDataPointer')"
                        ]
                      }
                    }
                  ]
                },
                "runAfter": {},
                "type": "If"
              }
            },
            "foreach": "@variables('sensorJobItembatchAttributeMappingsRefDataBlobs')",
            "runAfter": {},
            "type": "Foreach"
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@variables('cleanupSensorJobItembatchAttributeMappingsRefDataBlobs')",
                "@true"
              ]
            }
          ]
        },
        "runAfter": {
          "SetCleanupSensorJobItembatchAttributeMappingsRefDataBlobsBecauseNoRefDataExists": [
            "Succeeded",
            "Skipped"
          ],
          "SetCleanupSensorJobItembatchAttributeMappingsRefDataBlobsToFalse": [
            "Succeeded",
            "Skipped"
          ],
          "SetLatestSensorJobItembatchAttributeMappingsRefDataPointer": [
            "Succeeded",
            "Skipped"
          ]
        },
        "type": "If"
      },
      "IfCleanupSensorJobExecutionsRefDataBlobs": {
        "actions": {
          "SensorJobExectionsCleanupLoop": {
            "actions": {
              "IfSensorJobExecutionsRefDataBlobNeedsToBeDeleted": {
                "actions": {
                  "DeleteSensorJobExecutionsRefDataBlob": {
                    "inputs": {
                      "headers": {
                        "SkipDeleteIfFileNotFoundOnServer": false
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                      },
                      "method": "delete",
                      "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent(items('SensorJobExectionsCleanupLoop')?['Path']))}"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                  }
                },
                "expression": {
                  "and": [
                    {
                      "less": [
                        "@items('SensorJobExectionsCleanupLoop')?['LastModified']",
                        "@subtractFromTime(utcNow(), 7, 'Day')"
                      ]
                    },
                    {
                      "not": {
                        "equals": [
                          "@items('SensorJobExectionsCleanupLoop')?['Path']",
                          "@variables('latestSensorJobExecutionsRefDataPointer')"
                        ]
                      }
                    }
                  ]
                },
                "runAfter": {},
                "type": "If"
              }
            },
            "foreach": "@variables('sensorJobExecutionsRefDataBlobs')",
            "runAfter": {},
            "type": "Foreach"
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@variables('cleanupSensorJobExecutionsRefDataBlobs')",
                "@true"
              ]
            }
          ]
        },
        "runAfter": {
          "SetCleanupSensorJobExecutionsRefDataBlobsToFalseBecauseNoRefDataBlobExists": [
            "Succeeded",
            "Skipped"
          ],
          "SetCleanupSensorJobExecutionsToFalseBecauseLatestRefDataPointerDoesNotExist": [
            "Succeeded",
            "Skipped"
          ],
          "SetLatestSensorJobExecutionsRefDataPointer": [
            "Succeeded",
            "Skipped"
          ]
        },
        "type": "If"
      },
      "IfCleanupSensorJobsRefDataBlobs": {
        "actions": {
          "SensorJobRefDataBlobsCleanupLoop": {
            "actions": {
              "IfSensorJobRefDataBlobNeedsToBeDeleted": {
                "actions": {
                  "DeleteSensorJobRefDataBlob": {
                    "inputs": {
                      "headers": {
                        "SkipDeleteIfFileNotFoundOnServer": false
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                      },
                      "method": "delete",
                      "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent(items('SensorJobRefDataBlobsCleanupLoop')?['Path']))}"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                  }
                },
                "expression": {
                  "and": [
                    {
                      "less": [
                        "@items('SensorJobRefDataBlobsCleanupLoop')?['LastModified']",
                        "@subtractFromTime(utcNow(), 7, 'Day')"
                      ]
                    },
                    {
                      "not": {
                        "equals": [
                          "@items('SensorJobRefDataBlobsCleanupLoop')?['Path']",
                          "@variables('latestSensorJobsRefDataPointer')"
                        ]
                      }
                    }
                  ]
                },
                "runAfter": {},
                "type": "If"
              }
            },
            "foreach": "@variables('sensorJobsRefDataBlobs')",
            "runAfter": {},
            "type": "Foreach"
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@variables('cleanupSensorJobsRefDataBlobs')",
                "@true"
              ]
            }
          ]
        },
        "runAfter": {
          "SetCleanupSensorJobsRefDataBlobsToFalseBecauseLatestRefDataPointerDoesNotExist": [
            "Succeeded",
            "Skipped"
          ],
          "SetCleanupSensorJobsRefDataBlobsToFalseBecauseNoRefDataBlobExists": [
            "Succeeded",
            "Skipped"
          ],
          "SetLatestSensorJobsRefDataPointer": [
            "Succeeded",
            "Skipped"
          ]
        },
        "type": "If"
      },
      "LatestAssetMaintenanceRefDataPointer": {
        "inputs": {
          "variables": [
            {
              "name": "latestAssetMaintenanceRefDataPointer",
              "type": "string"
            }
          ]
        },
        "runAfter": {
          "AssetMaintenanceRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "LatestSensorJobExecutionsRefDataPointer": {
        "inputs": {
          "variables": [
            {
              "name": "latestSensorJobExecutionsRefDataPointer",
              "type": "string"
            }
          ]
        },
        "runAfter": {
          "SensorJobExecutionsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "LatestSensorJobItembatchAttributeMappingsRefDataPointer": {
        "inputs": {
          "variables": [
            {
              "name": "latestSensorJobItembatchAttributeMappingsRefDataPointer",
              "type": "string"
            }
          ]
        },
        "runAfter": {
          "SensorJobItembatchAttributeMappingsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "LatestSensorJobsRefDataPointer": {
        "inputs": {
          "variables": [
            {
              "name": "latestSensorJobsRefDataPointer",
              "type": "string"
            }
          ]
        },
        "runAfter": {
          "SensorJobsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "ListAllAssetMaintenanceRefDataBlobs": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/foldersV2/@{encodeURIComponent(encodeURIComponent('/sensorintelligencereferencedata/assetmaintenancedata'))}",
          "queries": {
            "nextPageMarker": "",
            "useFlatListing": false
          }
        },
        "runAfter": {
          "CleanupAssetMaintenanceRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "ListAllSensorJobExecutionsRefDataBlobs": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/foldersV2/@{encodeURIComponent(encodeURIComponent('/sensorintelligencereferencedata/sensorjobexecutions'))}",
          "queries": {
            "nextPageMarker": "",
            "useFlatListing": false
          }
        },
        "runAfter": {
          "CleanupSensorJobExecutionsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "ListAllSensorJobItembatchAttributeMappings": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/foldersV2/@{encodeURIComponent(encodeURIComponent('/sensorintelligencereferencedata/sensorjobbatchattributes'))}",
          "queries": {
            "nextPageMarker": "",
            "useFlatListing": false
          }
        },
        "runAfter": {
          "CleanupSensorJobItembatchAttributeMappingsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "ListAllSensorJobsRefDataBlobs": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/foldersV2/@{encodeURIComponent(encodeURIComponent('/sensorintelligencereferencedata/sensorjobs'))}",
          "queries": {
            "nextPageMarker": "",
            "useFlatListing": false
          }
        },
        "runAfter": {
          "CleanupSensorJobsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "SensorJobExecutionsRefDataBlobs": {
        "inputs": {
          "variables": [
            {
              "name": "sensorJobExecutionsRefDataBlobs",
              "type": "array"
            }
          ]
        },
        "runAfter": {},
        "type": "InitializeVariable"
      },
      "SensorJobItembatchAttributeMappingsRefDataBlobs": {
        "inputs": {
          "variables": [
            {
              "name": "sensorJobItembatchAttributeMappingsRefDataBlobs",
              "type": "array"
            }
          ]
        },
        "runAfter": {},
        "type": "InitializeVariable"
      },
      "SensorJobsRefDataBlobs": {
        "inputs": {
          "variables": [
            {
              "name": "sensorJobsRefDataBlobs",
              "type": "array"
            }
          ]
        },
        "runAfter": {},
        "type": "InitializeVariable"
      },
      "SetAssetMaintenanceRefDataBlobs": {
        "inputs": {
          "name": "assetMaintenanceRefDataBlobs",
          "value": "@body('ListAllAssetMaintenanceRefDataBlobs')?['value']"
        },
        "runAfter": {
          "ListAllAssetMaintenanceRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "SetVariable"
      },
      "SetCleanupAssetMaintenanceRefDataBlobsToFalseBecauseNoRefDataBlobExists": {
        "inputs": {
          "name": "cleanupAssetMaintenanceRefDataBlobs",
          "value": "@false"
        },
        "runAfter": {
          "ListAllAssetMaintenanceRefDataBlobs": [
            "Failed"
          ]
        },
        "type": "SetVariable"
      },
      "SetCleanupAssetMaintenanceRefDataToFalseBecauseLatestRefDataPointerDoesNotExist": {
        "inputs": {
          "name": "cleanupAssetMaintenanceRefDataBlobs",
          "value": "@false"
        },
        "runAfter": {
          "GetLatestAssetMaintenanceRefDataPointer": [
            "Failed"
          ]
        },
        "type": "SetVariable"
      },
      "SetCleanupSensorJobExecutionsRefDataBlobsToFalseBecauseNoRefDataBlobExists": {
        "inputs": {
          "name": "cleanupSensorJobExecutionsRefDataBlobs",
          "value": "@false"
        },
        "runAfter": {
          "ListAllSensorJobExecutionsRefDataBlobs": [
            "Failed"
          ]
        },
        "type": "SetVariable"
      },
      "SetCleanupSensorJobExecutionsToFalseBecauseLatestRefDataPointerDoesNotExist": {
        "inputs": {
          "name": "cleanupSensorJobExecutionsRefDataBlobs",
          "value": "@false"
        },
        "runAfter": {
          "GetLatestSensorJobExecutionsRefDataPointer": [
            "FAILED"
          ]
        },
        "type": "SetVariable"
      },
      "SetCleanupSensorJobItembatchAttributeMappingsRefDataBlobsBecauseNoRefDataExists": {
        "inputs": {
          "name": "cleanupSensorJobItembatchAttributeMappingsRefDataBlobs",
          "value": "@false"
        },
        "runAfter": {
          "ListAllSensorJobItembatchAttributeMappings": [
            "Failed"
          ]
        },
        "type": "SetVariable"
      },
      "SetCleanupSensorJobItembatchAttributeMappingsRefDataBlobsToFalse": {
        "inputs": {
          "name": "cleanupSensorJobItembatchAttributeMappingsRefDataBlobs",
          "value": "@false"
        },
        "runAfter": {
          "GetLatestSensorJobItembatchAttributeMappingsRefDataPointer": [
            "FAILED"
          ]
        },
        "type": "SetVariable"
      },
      "SetCleanupSensorJobsRefDataBlobsToFalseBecauseLatestRefDataPointerDoesNotExist": {
        "inputs": {
          "name": "cleanupSensorJobsRefDataBlobs",
          "value": "@false"
        },
        "runAfter": {
          "GetLatestSensorJobsRefDataPointer": [
            "FAILED"
          ]
        },
        "type": "SetVariable"
      },
      "SetCleanupSensorJobsRefDataBlobsToFalseBecauseNoRefDataBlobExists": {
        "inputs": {
          "name": "cleanupSensorJobsRefDataBlobs",
          "value": "@false"
        },
        "runAfter": {
          "ListAllSensorJobsRefDataBlobs": [
            "Failed"
          ]
        },
        "type": "SetVariable"
      },
      "SetLatestAssetMaintenanceRefDataPointer": {
        "inputs": {
          "name": "latestAssetMaintenanceRefDataPointer",
          "value": "@{body('GetLatestAssetMaintenanceRefDataPointer')}"
        },
        "runAfter": {
          "GetLatestAssetMaintenanceRefDataPointer": [
            "Succeeded"
          ]
        },
        "type": "SetVariable"
      },
      "SetLatestSensorJobExecutionsRefDataPointer": {
        "inputs": {
          "name": "latestSensorJobExecutionsRefDataPointer",
          "value": "@{body('GetLatestSensorJobExecutionsRefDataPointer')}"
        },
        "runAfter": {
          "GetLatestSensorJobExecutionsRefDataPointer": [
            "Succeeded"
          ]
        },
        "type": "SetVariable"
      },
      "SetLatestSensorJobItembatchAttributeMappingsRefDataPointer": {
        "inputs": {
          "name": "latestSensorJobItembatchAttributeMappingsRefDataPointer",
          "value": "@{body('GetLatestSensorJobItembatchAttributeMappingsRefDataPointer')}"
        },
        "runAfter": {
          "GetLatestSensorJobItembatchAttributeMappingsRefDataPointer": [
            "Succeeded"
          ]
        },
        "type": "SetVariable"
      },
      "SetLatestSensorJobsRefDataPointer": {
        "inputs": {
          "name": "latestSensorJobsRefDataPointer",
          "value": "@{body('GetLatestSensorJobsRefDataPointer')}"
        },
        "runAfter": {
          "GetLatestSensorJobsRefDataPointer": [
            "Succeeded"
          ]
        },
        "type": "SetVariable"
      },
      "SetSensorJobExecutionsRefDataBlobs": {
        "inputs": {
          "name": "sensorJobExecutionsRefDataBlobs",
          "value": "@body('ListAllSensorJobExecutionsRefDataBlobs')?['value']"
        },
        "runAfter": {
          "ListAllSensorJobExecutionsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "SetVariable"
      },
      "SetSensorJobItembatchAttributeMappingsRefDataBlobs": {
        "inputs": {
          "name": "sensorJobItembatchAttributeMappingsRefDataBlobs",
          "value": "@body('ListAllSensorJobItembatchAttributeMappings')?['value']"
        },
        "runAfter": {
          "ListAllSensorJobItembatchAttributeMappings": [
            "Succeeded"
          ]
        },
        "type": "SetVariable"
      },
      "SetSensorJobsRefDataBlobs": {
        "inputs": {
          "name": "sensorJobsRefDataBlobs",
          "value": "@body('ListAllSensorJobsRefDataBlobs')?['value']"
        },
        "runAfter": {
          "ListAllSensorJobsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "SetVariable"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      },
      "StorageAccountName": {
        "defaultValue": "",
        "type": "String"
      }
    },
    "triggers": {
      "Recurrence": {
        "evaluatedRecurrence": {
          "frequency": "Day",
          "interval": 7
        },
        "recurrence": {
          "frequency": "Day",
          "interval": 7
        },
        "type": "Recurrence"
      }
    }
  },
  "parameters": {}
}
