logic-apps/clean-reference-data.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "AssetMaintenanceRefDataBlobs": {
        "inputs": {
          "variables": [
            {
              "name": "assetMaintenanceRefDataBlobs",
              "type": "array"
            }
          ]
        },
        "runAfter": {},
        "type": "InitializeVariable"
      },
      "AssetSensorDowntimeThresholdsRefDataBlobs": {
        "inputs": {
          "variables": [
            {
              "name": "assetSensorDowntimeThresholdsRefDataBlobs",
              "type": "array"
            }
          ]
        },
        "runAfter": {},
        "type": "InitializeVariable"
      },
      "AssetSensorMonitorThresholdsRefDataBlobs": {
        "inputs": {
          "variables": [
            {
              "name": "assetSensorMonitorThresholdsRefDataBlobs",
              "type": "array"
            }
          ]
        },
        "runAfter": {},
        "type": "InitializeVariable"
      },
      "CleanupAssetMaintenanceRefDataBlobs": {
        "inputs": {
          "variables": [
            {
              "name": "cleanupAssetMaintenanceRefDataBlobs",
              "type": "boolean",
              "value": "@true"
            }
          ]
        },
        "runAfter": {
          "LatestAssetMaintenanceRefDataPointer": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "CleanupAssetSensorDowntimeThresholdsRefDataBlobs": {
        "inputs": {
          "variables": [
            {
              "name": "cleanupAssetSensorDowntimeThresholdsRefDataBlobs",
              "type": "boolean",
              "value": "@true"
            }
          ]
        },
        "runAfter": {
          "LatestAssetSensorDowntimeThresholdsRefDataPointer": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "CleanupAssetSensorMonitorThresholdsRefDataBlobs": {
        "inputs": {
          "variables": [
            {
              "name": "cleanupAssetSensorMonitorThresholdsRefDataBlobs",
              "type": "boolean",
              "value": "@true"
            }
          ]
        },
        "runAfter": {
          "LatestAssetSensorMonitorThresholdsRefDataPointer": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "CleanupSensorJobExecutionsRefDataBlobs": {
        "inputs": {
          "variables": [
            {
              "name": "cleanupSensorJobExecutionsRefDataBlobs",
              "type": "boolean",
              "value": "@true"
            }
          ]
        },
        "runAfter": {
          "LatestSensorJobExecutionsRefDataPointer": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "CleanupSensorJobItemBatchAttributeMappingsRefDataBlobs": {
        "inputs": {
          "variables": [
            {
              "name": "cleanupSensorJobItemBatchAttributeMappingsRefDataBlobs",
              "type": "boolean",
              "value": "@true"
            }
          ]
        },
        "runAfter": {
          "LatestSensorJobItemBatchAttributeMappingsRefDataPointer": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "CleanupSensorJobsRefDataBlobs": {
        "inputs": {
          "variables": [
            {
              "name": "cleanupSensorJobsRefDataBlobs",
              "type": "boolean",
              "value": "@true"
            }
          ]
        },
        "runAfter": {
          "LatestSensorJobsRefDataPointer": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "GetLatestAssetMaintenanceRefDataPointer": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent('sensorintelligencereferencedata/scenarios/assetmaintenance.json'))}/content",
          "queries": {
            "inferContentType": true
          }
        },
        "runAfter": {
          "SetAssetMaintenanceRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "GetLatestAssetSensorDowntimeThresholdsRefDataPointer": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent('sensorintelligencereferencedata/scenarios/assetdowntime.json'))}/content",
          "queries": {
            "inferContentType": true
          }
        },
        "runAfter": {
          "SetAssetSensorDowntimeThresholdsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "GetLatestAssetSensorMonitorThresholdsRefDataPointer": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent('sensorintelligencereferencedata/scenarios/assetmonitor.json'))}/content",
          "queries": {
            "inferContentType": true
          }
        },
        "runAfter": {
          "SetAssetSensorMonitorThresholdsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "GetLatestSensorJobExecutionsRefDataPointer": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent('sensorintelligencereferencedata/scenarios/productionjobdelayed.json'))}/content",
          "queries": {
            "inferContentType": true
          }
        },
        "runAfter": {
          "SetSensorJobExecutionsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "GetLatestSensorJobItemBatchAttributeMappingsRefDataPointer": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent('sensorintelligencereferencedata/scenarios/productquality.json'))}/content",
          "queries": {
            "inferContentType": true
          }
        },
        "runAfter": {
          "SetSensorJobItemBatchAttributeMappingsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "GetLatestSensorJobsRefDataPointer": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent('sensorintelligencereferencedata/scenarios/equipmentdowntime.json'))}/content",
          "queries": {
            "inferContentType": true
          }
        },
        "runAfter": {
          "SetSensorJobsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "IfCleanupAssetMaintenanceRefDataBlobs": {
        "actions": {
          "AssetMaintenanceRefDataCleanupLoop": {
            "actions": {
              "IfAssetMaintenanceRefDataNeedsToBeDeleted": {
                "actions": {
                  "DeleteAssetMaintenanceRefDataBlob": {
                    "inputs": {
                      "headers": {
                        "SkipDeleteIfFileNotFoundOnServer": false
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                      },
                      "method": "delete",
                      "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent(items('AssetMaintenanceRefDataCleanupLoop')?['Path']))}"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                  }
                },
                "expression": {
                  "and": [
                    {
                      "less": [
                        "@items('AssetMaintenanceRefDataCleanupLoop')?['LastModified']",
                        "@subtractFromTime(utcNow(), 7, 'Day')"
                      ]
                    },
                    {
                      "not": {
                        "equals": [
                          "@items('AssetMaintenanceRefDataCleanupLoop')?['Path']",
                          "@variables('latestAssetMaintenanceRefDataPointer')"
                        ]
                      }
                    }
                  ]
                },
                "runAfter": {},
                "type": "If"
              }
            },
            "foreach": "@variables('assetMaintenanceRefDataBlobs')",
            "runAfter": {},
            "type": "Foreach"
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@variables('cleanupAssetMaintenanceRefDataBlobs')",
                "@true"
              ]
            }
          ]
        },
        "runAfter": {
          "SetCleanupAssetMaintenanceRefDataBlobsToFalseBecauseNoRefDataBlobExists": [
            "Succeeded",
            "Skipped"
          ],
          "SetCleanupAssetMaintenanceRefDataToFalseBecauseLatestRefDataPointerDoesNotExist": [
            "Succeeded",
            "Skipped"
          ],
          "SetLatestAssetMaintenanceRefDataPointer": [
            "Succeeded",
            "Skipped"
          ]
        },
        "type": "If"
      },
      "IfCleanupAssetSensorDowntimeThresholdsRefDataBlobs": {
        "actions": {
          "AssetSensorDowntimeThresholdsRefDataCleanupLoop": {
            "actions": {
              "IfAssetSensorDowntimeThresholdsRefDataNeedsToBeDeleted": {
                "actions": {
                  "DeleteAssetSensorDowntimeThresholdsRefDataBlob": {
                    "inputs": {
                      "headers": {
                        "SkipDeleteIfFileNotFoundOnServer": false
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                      },
                      "method": "delete",
                      "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent(items('AssetSensorDowntimeThresholdsRefDataCleanupLoop')?['Path']))}"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                  }
                },
                "expression": {
                  "and": [
                    {
                      "less": [
                        "@items('AssetSensorDowntimeThresholdsRefDataCleanupLoop')?['LastModified']",
                        "@subtractFromTime(utcNow(), 7, 'Day')"
                      ]
                    },
                    {
                      "not": {
                        "equals": [
                          "@items('AssetSensorDowntimeThresholdsRefDataCleanupLoop')?['Path']",
                          "@variables('latestAssetSensorDowntimeThresholdsRefDataPointer')"
                        ]
                      }
                    }
                  ]
                },
                "runAfter": {},
                "type": "If"
              }
            },
            "foreach": "@variables('assetSensorDowntimeThresholdsRefDataBlobs')",
            "runAfter": {},
            "type": "Foreach"
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@variables('cleanupAssetSensorDowntimeThresholdsRefDataBlobs')",
                "@true"
              ]
            }
          ]
        },
        "runAfter": {
          "SetCleanupAssetDowntimeRefDataBlobsToFalseBecauseNoRefDataBlobExists": [
            "Succeeded",
            "Skipped"
          ],
          "SetCleanupAssetDowntimeRefDataToFalseBecauseLatestRefDataPointerDoesNotExist": [
            "Succeeded",
            "Skipped"
          ],
          "SetLatestAssetSensorDowntimeThresholdsRefDataPointer": [
            "Succeeded",
            "Skipped"
          ]
        },
        "type": "If"
      },
      "IfCleanupAssetSensorMonitorThresholdsRefDataBlobs": {
        "actions": {
          "AssetSensorMonitorThresholdsRefDataCleanupLoop": {
            "actions": {
              "IfAssetSensorMonitorThresholdsRefDataNeedsToBeDeleted": {
                "actions": {
                  "DeleteAssetSensorMonitorThresholdsRefDataBlob": {
                    "inputs": {
                      "headers": {
                        "SkipDeleteIfFileNotFoundOnServer": false
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                      },
                      "method": "delete",
                      "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent(items('AssetSensorMonitorThresholdsRefDataCleanupLoop')?['Path']))}"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                  }
                },
                "expression": {
                  "and": [
                    {
                      "less": [
                        "@items('AssetSensorMonitorThresholdsRefDataCleanupLoop')?['LastModified']",
                        "@subtractFromTime(utcNow(), 7, 'Day')"
                      ]
                    },
                    {
                      "not": {
                        "equals": [
                          "@items('AssetSensorMonitorThresholdsRefDataCleanupLoop')?['Path']",
                          "@variables('latestAssetSensorMonitorThresholdsRefDataPointer')"
                        ]
                      }
                    }
                  ]
                },
                "runAfter": {},
                "type": "If"
              }
            },
            "foreach": "@variables('assetSensorMonitorThresholdsRefDataBlobs')",
            "runAfter": {},
            "type": "Foreach"
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@variables('cleanupAssetSensorMonitorThresholdsRefDataBlobs')",
                "@true"
              ]
            }
          ]
        },
        "runAfter": {
          "SetCleanupAssetMonitorRefDataBlobsToFalseBecauseNoRefDataBlobExists": [
            "Succeeded",
            "Skipped"
          ],
          "SetCleanupAssetMonitorRefDataToFalseBecauseLatestRefDataPointerDoesNotExist": [
            "Succeeded",
            "Skipped"
          ],
          "SetLatestAssetSensorMonitorThresholdsRefDataPointer": [
            "Succeeded",
            "Skipped"
          ]
        },
        "type": "If"
      },
      "IfCleanupSensorItemBatchAttributeMappingsRefDataBlobs": {
        "actions": {
          "SensorJobItemBatchAttributeMappingCleanupLoop": {
            "actions": {
              "IfSensorJobItemBatchAttributeMappingRefDataNeedsToBeDeleted": {
                "actions": {
                  "DeleteSensorJobItemBatchAttributeMappingRefDataBlob": {
                    "inputs": {
                      "headers": {
                        "SkipDeleteIfFileNotFoundOnServer": false
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                      },
                      "method": "delete",
                      "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent(items('SensorJobItemBatchAttributeMappingCleanupLoop')?['Path']))}"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                  }
                },
                "expression": {
                  "and": [
                    {
                      "less": [
                        "@items('SensorJobItemBatchAttributeMappingCleanupLoop')?['LastModified']",
                        "@subtractFromTime(utcNow(), 7, 'Day')"
                      ]
                    },
                    {
                      "not": {
                        "equals": [
                          "@items('SensorJobItemBatchAttributeMappingCleanupLoop')?['Path']",
                          "@variables('latestSensorJobItemBatchAttributeMappingsRefDataPointer')"
                        ]
                      }
                    }
                  ]
                },
                "runAfter": {},
                "type": "If"
              }
            },
            "foreach": "@variables('sensorJobItemBatchAttributeMappingsRefDataBlobs')",
            "runAfter": {},
            "type": "Foreach"
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@variables('cleanupSensorJobItemBatchAttributeMappingsRefDataBlobs')",
                "@true"
              ]
            }
          ]
        },
        "runAfter": {
          "SetCleanupSensorJobItemBatchAttributeMappingsRefDataBlobsBecauseNoRefDataExists": [
            "Succeeded",
            "Skipped"
          ],
          "SetCleanupSensorJobItemBatchAttributeMappingsRefDataBlobsToFalse": [
            "Succeeded",
            "Skipped"
          ],
          "SetLatestSensorJobItemBatchAttributeMappingsRefDataPointer": [
            "Succeeded",
            "Skipped"
          ]
        },
        "type": "If"
      },
      "IfCleanupSensorJobExecutionsRefDataBlobs": {
        "actions": {
          "SensorJobExectionsCleanupLoop": {
            "actions": {
              "IfSensorJobExecutionsRefDataBlobNeedsToBeDeleted": {
                "actions": {
                  "DeleteSensorJobExecutionsRefDataBlob": {
                    "inputs": {
                      "headers": {
                        "SkipDeleteIfFileNotFoundOnServer": false
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                      },
                      "method": "delete",
                      "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent(items('SensorJobExectionsCleanupLoop')?['Path']))}"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                  }
                },
                "expression": {
                  "and": [
                    {
                      "less": [
                        "@items('SensorJobExectionsCleanupLoop')?['LastModified']",
                        "@subtractFromTime(utcNow(), 7, 'Day')"
                      ]
                    },
                    {
                      "not": {
                        "equals": [
                          "@items('SensorJobExectionsCleanupLoop')?['Path']",
                          "@variables('latestSensorJobExecutionsRefDataPointer')"
                        ]
                      }
                    }
                  ]
                },
                "runAfter": {},
                "type": "If"
              }
            },
            "foreach": "@variables('sensorJobExecutionsRefDataBlobs')",
            "runAfter": {},
            "type": "Foreach"
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@variables('cleanupSensorJobExecutionsRefDataBlobs')",
                "@true"
              ]
            }
          ]
        },
        "runAfter": {
          "SetCleanupSensorJobExecutionsRefDataBlobsToFalseBecauseNoRefDataBlobExists": [
            "Succeeded",
            "Skipped"
          ],
          "SetCleanupSensorJobExecutionsToFalseBecauseLatestRefDataPointerDoesNotExist": [
            "Succeeded",
            "Skipped"
          ],
          "SetLatestSensorJobExecutionsRefDataPointer": [
            "Succeeded",
            "Skipped"
          ]
        },
        "type": "If"
      },
      "IfCleanupSensorJobsRefDataBlobs": {
        "actions": {
          "SensorJobRefDataBlobsCleanupLoop": {
            "actions": {
              "IfSensorJobRefDataBlobNeedsToBeDeleted": {
                "actions": {
                  "DeleteSensorJobRefDataBlob": {
                    "inputs": {
                      "headers": {
                        "SkipDeleteIfFileNotFoundOnServer": false
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                      },
                      "method": "delete",
                      "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent(items('SensorJobRefDataBlobsCleanupLoop')?['Path']))}"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                  }
                },
                "expression": {
                  "and": [
                    {
                      "less": [
                        "@items('SensorJobRefDataBlobsCleanupLoop')?['LastModified']",
                        "@subtractFromTime(utcNow(), 7, 'Day')"
                      ]
                    },
                    {
                      "not": {
                        "equals": [
                          "@items('SensorJobRefDataBlobsCleanupLoop')?['Path']",
                          "@variables('latestSensorJobsRefDataPointer')"
                        ]
                      }
                    }
                  ]
                },
                "runAfter": {},
                "type": "If"
              }
            },
            "foreach": "@variables('sensorJobsRefDataBlobs')",
            "runAfter": {},
            "type": "Foreach"
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@variables('cleanupSensorJobsRefDataBlobs')",
                "@true"
              ]
            }
          ]
        },
        "runAfter": {
          "SetCleanupSensorJobsRefDataBlobsToFalseBecauseLatestRefDataPointerDoesNotExist": [
            "Succeeded",
            "Skipped"
          ],
          "SetCleanupSensorJobsRefDataBlobsToFalseBecauseNoRefDataBlobExists": [
            "Succeeded",
            "Skipped"
          ],
          "SetLatestSensorJobsRefDataPointer": [
            "Succeeded",
            "Skipped"
          ]
        },
        "type": "If"
      },
      "LatestAssetMaintenanceRefDataPointer": {
        "inputs": {
          "variables": [
            {
              "name": "latestAssetMaintenanceRefDataPointer",
              "type": "string"
            }
          ]
        },
        "runAfter": {
          "AssetMaintenanceRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "LatestAssetSensorDowntimeThresholdsRefDataPointer": {
        "inputs": {
          "variables": [
            {
              "name": "latestAssetSensorDowntimeThresholdsRefDataPointer",
              "type": "string"
            }
          ]
        },
        "runAfter": {
          "AssetSensorDowntimeThresholdsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "LatestAssetSensorMonitorThresholdsRefDataPointer": {
        "inputs": {
          "variables": [
            {
              "name": "latestAssetSensorMonitorThresholdsRefDataPointer",
              "type": "string"
            }
          ]
        },
        "runAfter": {
          "AssetSensorMonitorThresholdsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "LatestSensorJobExecutionsRefDataPointer": {
        "inputs": {
          "variables": [
            {
              "name": "latestSensorJobExecutionsRefDataPointer",
              "type": "string"
            }
          ]
        },
        "runAfter": {
          "SensorJobExecutionsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "LatestSensorJobItemBatchAttributeMappingsRefDataPointer": {
        "inputs": {
          "variables": [
            {
              "name": "latestSensorJobItemBatchAttributeMappingsRefDataPointer",
              "type": "string"
            }
          ]
        },
        "runAfter": {
          "SensorJobItemBatchAttributeMappingsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "LatestSensorJobsRefDataPointer": {
        "inputs": {
          "variables": [
            {
              "name": "latestSensorJobsRefDataPointer",
              "type": "string"
            }
          ]
        },
        "runAfter": {
          "SensorJobsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "ListAllAssetMaintenanceRefDataBlobs": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/foldersV2/@{encodeURIComponent(encodeURIComponent('/sensorintelligencereferencedata/assetmaintenancedata'))}",
          "queries": {
            "nextPageMarker": "",
            "useFlatListing": false
          }
        },
        "runAfter": {
          "CleanupAssetMaintenanceRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "ListAllAssetSensorDowntimeThresholdsRefDataBlobs": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/foldersV2/@{encodeURIComponent(encodeURIComponent('/sensorintelligencereferencedata/assetsensordowntimethresholds'))}",
          "queries": {
            "nextPageMarker": "",
            "useFlatListing": false
          }
        },
        "runAfter": {
          "CleanupAssetSensorDowntimeThresholdsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "ListAllAssetSensorMonitorThresholdsRefDataBlobs": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/foldersV2/@{encodeURIComponent(encodeURIComponent('/sensorintelligencereferencedata/assetsensormonitorthresholds'))}",
          "queries": {
            "nextPageMarker": "",
            "useFlatListing": false
          }
        },
        "runAfter": {
          "CleanupAssetSensorMonitorThresholdsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "ListAllSensorJobExecutionsRefDataBlobs": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/foldersV2/@{encodeURIComponent(encodeURIComponent('/sensorintelligencereferencedata/sensorjobexecutions'))}",
          "queries": {
            "nextPageMarker": "",
            "useFlatListing": false
          }
        },
        "runAfter": {
          "CleanupSensorJobExecutionsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "ListAllSensorJobItemBatchAttributeMappings": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/foldersV2/@{encodeURIComponent(encodeURIComponent('/sensorintelligencereferencedata/sensorjobbatchattributes'))}",
          "queries": {
            "nextPageMarker": "",
            "useFlatListing": false
          }
        },
        "runAfter": {
          "CleanupSensorJobItemBatchAttributeMappingsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "ListAllSensorJobsRefDataBlobs": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/foldersV2/@{encodeURIComponent(encodeURIComponent('/sensorintelligencereferencedata/sensorjobs'))}",
          "queries": {
            "nextPageMarker": "",
            "useFlatListing": false
          }
        },
        "runAfter": {
          "CleanupSensorJobsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "SensorJobExecutionsRefDataBlobs": {
        "inputs": {
          "variables": [
            {
              "name": "sensorJobExecutionsRefDataBlobs",
              "type": "array"
            }
          ]
        },
        "runAfter": {},
        "type": "InitializeVariable"
      },
      "SensorJobItemBatchAttributeMappingsRefDataBlobs": {
        "inputs": {
          "variables": [
            {
              "name": "sensorJobItemBatchAttributeMappingsRefDataBlobs",
              "type": "array"
            }
          ]
        },
        "runAfter": {},
        "type": "InitializeVariable"
      },
      "SensorJobsRefDataBlobs": {
        "inputs": {
          "variables": [
            {
              "name": "sensorJobsRefDataBlobs",
              "type": "array"
            }
          ]
        },
        "runAfter": {},
        "type": "InitializeVariable"
      },
      "SetCleanupAssetDowntimeRefDataBlobsToFalseBecauseNoRefDataBlobExists": {
        "inputs": {
          "name": "cleanupAssetSensorDowntimeThresholdsRefDataBlobs",
          "value": "@false"
        },
        "runAfter": {
          "ListAllAssetSensorDowntimeThresholdsRefDataBlobs": [
            "Failed"
          ]
        },
        "type": "SetVariable"
      },
      "SetCleanupAssetDowntimeRefDataToFalseBecauseLatestRefDataPointerDoesNotExist": {
        "inputs": {
          "name": "cleanupAssetSensorDowntimeThresholdsRefDataBlobs",
          "value": "@false"
        },
        "runAfter": {
          "GetLatestAssetSensorDowntimeThresholdsRefDataPointer": [
            "Failed"
          ]
        },
        "type": "SetVariable"
      },
      "SetCleanupAssetMaintenanceRefDataBlobsToFalseBecauseNoRefDataBlobExists": {
        "inputs": {
          "name": "cleanupAssetMaintenanceRefDataBlobs",
          "value": "@false"
        },
        "runAfter": {
          "ListAllAssetMaintenanceRefDataBlobs": [
            "Failed"
          ]
        },
        "type": "SetVariable"
      },
      "SetCleanupAssetMaintenanceRefDataToFalseBecauseLatestRefDataPointerDoesNotExist": {
        "inputs": {
          "name": "cleanupAssetMaintenanceRefDataBlobs",
          "value": "@false"
        },
        "runAfter": {
          "GetLatestAssetMaintenanceRefDataPointer": [
            "Failed"
          ]
        },
        "type": "SetVariable"
      },
      "SetCleanupAssetMonitorRefDataBlobsToFalseBecauseNoRefDataBlobExists": {
        "inputs": {
          "name": "cleanupAssetSensorMonitorThresholdsRefDataBlobs",
          "value": "@false"
        },
        "runAfter": {
          "ListAllAssetSensorMonitorThresholdsRefDataBlobs": [
            "Failed"
          ]
        },
        "type": "SetVariable"
      },
      "SetCleanupAssetMonitorRefDataToFalseBecauseLatestRefDataPointerDoesNotExist": {
        "inputs": {
          "name": "cleanupAssetSensorMonitorThresholdsRefDataBlobs",
          "value": "@false"
        },
        "runAfter": {
          "GetLatestAssetSensorMonitorThresholdsRefDataPointer": [
            "Failed"
          ]
        },
        "type": "SetVariable"
      },
      "SetCleanupSensorJobExecutionsRefDataBlobsToFalseBecauseNoRefDataBlobExists": {
        "inputs": {
          "name": "cleanupSensorJobExecutionsRefDataBlobs",
          "value": "@false"
        },
        "runAfter": {
          "ListAllSensorJobExecutionsRefDataBlobs": [
            "Failed"
          ]
        },
        "type": "SetVariable"
      },
      "SetCleanupSensorJobExecutionsToFalseBecauseLatestRefDataPointerDoesNotExist": {
        "inputs": {
          "name": "cleanupSensorJobExecutionsRefDataBlobs",
          "value": "@false"
        },
        "runAfter": {
          "GetLatestSensorJobExecutionsRefDataPointer": [
            "Failed"
          ]
        },
        "type": "SetVariable"
      },
      "SetCleanupSensorJobItemBatchAttributeMappingsRefDataBlobsBecauseNoRefDataExists": {
        "inputs": {
          "name": "cleanupSensorJobItemBatchAttributeMappingsRefDataBlobs",
          "value": "@false"
        },
        "runAfter": {
          "ListAllSensorJobItemBatchAttributeMappings": [
            "Failed"
          ]
        },
        "type": "SetVariable"
      },
      "SetCleanupSensorJobItemBatchAttributeMappingsRefDataBlobsToFalse": {
        "inputs": {
          "name": "cleanupSensorJobItemBatchAttributeMappingsRefDataBlobs",
          "value": "@false"
        },
        "runAfter": {
          "GetLatestSensorJobItemBatchAttributeMappingsRefDataPointer": [
            "Failed"
          ]
        },
        "type": "SetVariable"
      },
      "SetCleanupSensorJobsRefDataBlobsToFalseBecauseLatestRefDataPointerDoesNotExist": {
        "inputs": {
          "name": "cleanupSensorJobsRefDataBlobs",
          "value": "@false"
        },
        "runAfter": {
          "GetLatestSensorJobsRefDataPointer": [
            "Failed"
          ]
        },
        "type": "SetVariable"
      },
      "SetCleanupSensorJobsRefDataBlobsToFalseBecauseNoRefDataBlobExists": {
        "inputs": {
          "name": "cleanupSensorJobsRefDataBlobs",
          "value": "@false"
        },
        "runAfter": {
          "ListAllSensorJobsRefDataBlobs": [
            "Failed"
          ]
        },
        "type": "SetVariable"
      },
      "SetLatestAssetMaintenanceRefDataPointer": {
        "inputs": {
          "name": "latestAssetMaintenanceRefDataPointer",
          "value": "@{body('GetLatestAssetMaintenanceRefDataPointer')}"
        },
        "runAfter": {
          "GetLatestAssetMaintenanceRefDataPointer": [
            "Succeeded"
          ]
        },
        "type": "SetVariable"
      },
      "SetLatestAssetSensorDowntimeThresholdsRefDataPointer": {
        "inputs": {
          "name": "latestAssetSensorDowntimeThresholdsRefDataPointer",
          "value": "@{body('GetLatestAssetSensorDowntimeThresholdsRefDataPointer')}"
        },
        "runAfter": {
          "GetLatestAssetSensorDowntimeThresholdsRefDataPointer": [
            "Succeeded"
          ]
        },
        "type": "SetVariable"
      },
      "SetLatestAssetSensorMonitorThresholdsRefDataPointer": {
        "inputs": {
          "name": "latestAssetSensorMonitorThresholdsRefDataPointer",
          "value": "@{body('GetLatestAssetSensorMonitorThresholdsRefDataPointer')}"
        },
        "runAfter": {
          "GetLatestAssetSensorMonitorThresholdsRefDataPointer": [
            "Succeeded"
          ]
        },
        "type": "SetVariable"
      },
      "SetLatestSensorJobExecutionsRefDataPointer": {
        "inputs": {
          "name": "latestSensorJobExecutionsRefDataPointer",
          "value": "@{body('GetLatestSensorJobExecutionsRefDataPointer')}"
        },
        "runAfter": {
          "GetLatestSensorJobExecutionsRefDataPointer": [
            "Succeeded"
          ]
        },
        "type": "SetVariable"
      },
      "SetLatestSensorJobItemBatchAttributeMappingsRefDataPointer": {
        "inputs": {
          "name": "latestSensorJobItemBatchAttributeMappingsRefDataPointer",
          "value": "@{body('GetLatestSensorJobItemBatchAttributeMappingsRefDataPointer')}"
        },
        "runAfter": {
          "GetLatestSensorJobItemBatchAttributeMappingsRefDataPointer": [
            "Succeeded"
          ]
        },
        "type": "SetVariable"
      },
      "SetLatestSensorJobsRefDataPointer": {
        "inputs": {
          "name": "latestSensorJobsRefDataPointer",
          "value": "@{body('GetLatestSensorJobsRefDataPointer')}"
        },
        "runAfter": {
          "GetLatestSensorJobsRefDataPointer": [
            "Succeeded"
          ]
        },
        "type": "SetVariable"
      },
      "SetAssetSensorDowntimeThresholdsRefDataBlobs": {
        "inputs": {
          "name": "assetSensorDowntimeThresholdsRefDataBlobs",
          "value": "@body('ListAllAssetSensorDowntimeThresholdsRefDataBlobs')?['value']"
        },
        "runAfter": {
          "ListAllAssetSensorDowntimeThresholdsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "SetVariable"
      },
      "SetAssetMaintenanceRefDataBlobs": {
        "inputs": {
          "name": "assetMaintenanceRefDataBlobs",
          "value": "@body('ListAllAssetMaintenanceRefDataBlobs')?['value']"
        },
        "runAfter": {
          "ListAllAssetMaintenanceRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "SetVariable"
      },
      "SetAssetSensorMonitorThresholdsRefDataBlobs": {
        "inputs": {
          "name": "assetSensorMonitorThresholdsRefDataBlobs",
          "value": "@body('ListAllAssetSensorMonitorThresholdsRefDataBlobs')?['value']"
        },
        "runAfter": {
          "ListAllAssetSensorMonitorThresholdsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "SetVariable"
      },
      "SetSensorJobExecutionsRefDataBlobs": {
        "inputs": {
          "name": "sensorJobExecutionsRefDataBlobs",
          "value": "@body('ListAllSensorJobExecutionsRefDataBlobs')?['value']"
        },
        "runAfter": {
          "ListAllSensorJobExecutionsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "SetVariable"
      },
      "SetSensorJobItemBatchAttributeMappingsRefDataBlobs": {
        "inputs": {
          "name": "sensorJobItemBatchAttributeMappingsRefDataBlobs",
          "value": "@body('ListAllSensorJobItemBatchAttributeMappings')?['value']"
        },
        "runAfter": {
          "ListAllSensorJobItemBatchAttributeMappings": [
            "Succeeded"
          ]
        },
        "type": "SetVariable"
      },
      "SetSensorJobsRefDataBlobs": {
        "inputs": {
          "name": "sensorJobsRefDataBlobs",
          "value": "@body('ListAllSensorJobsRefDataBlobs')?['value']"
        },
        "runAfter": {
          "ListAllSensorJobsRefDataBlobs": [
            "Succeeded"
          ]
        },
        "type": "SetVariable"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      },
      "StorageAccountName": {
        "defaultValue": "",
        "type": "String"
      }
    },
    "triggers": {
      "Recurrence": {
        "evaluatedRecurrence": {
          "frequency": "Day",
          "interval": 7
        },
        "recurrence": {
          "frequency": "Day",
          "interval": 7
        },
        "type": "Recurrence"
      }
    }
  },
  "parameters": {}
}
