logic-apps/referenceDataLogicApp.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "CleanupSensorItemBatchAttributeMappingsIfMoreThanOneBlob": {
        "actions": {
          "FilterSensorItemBatchAttributeMappingsOlderThan7Days": {
            "inputs": {
              "from": "@body('ListAllSensorJobItembatchAttributeMappings')?['value']",
              "where": "@less(item()?['LastModified'], subtractFromTime(utcNow(), 7, 'Day'))"
            },
            "runAfter": {},
            "type": "Query"
          },
          "For_each_3": {
            "actions": {
              "Delete_blob_(V2)": {
                "inputs": {
                  "headers": {
                    "SkipDeleteIfFileNotFoundOnServer": false
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['azureblob']['connectionId']"
                    }
                  },
                  "method": "delete",
                  "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent(items('For_each_3')?['Path']))}"
                },
                "runAfter": {},
                "type": "ApiConnection"
              }
            },
            "foreach": "@body('FilterSensorItemBatchAttributeMappingsOlderThan7Days')",
            "runAfter": {
              "FilterSensorItemBatchAttributeMappingsOlderThan7Days": [
                "Succeeded"
              ]
            },
            "type": "Foreach"
          }
        },
        "expression": {
          "and": [
            {
              "greater": [
                "@length(body('ListAllSensorJobItembatchAttributeMappings')?['value'])",
                1
              ]
            }
          ]
        },
        "runAfter": {
          "ListAllSensorJobItembatchAttributeMappings": [
            "Succeeded"
          ]
        },
        "type": "If"
      },
      "CleanupSensorJobsIfMoreThanOneBlob": {
        "actions": {
          "FilterSensorJobsBlobsOlderThan7Days": {
            "inputs": {
              "from": "@body('ListAllSensorJobsBlobs')?['value']",
              "where": "@less(item()?['LastModified'], subtractFromTime(utcNow(), 7, 'Day'))"
            },
            "runAfter": {},
            "type": "Query"
          },
          "For_each": {
            "actions": {
              "DeleteOldSensorJobsBlob": {
                "inputs": {
                  "headers": {
                    "SkipDeleteIfFileNotFoundOnServer": false
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['azureblob']['connectionId']"
                    }
                  },
                  "method": "delete",
                  "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files/@{encodeURIComponent(encodeURIComponent(items('For_each')?['Path']))}"
                },
                "runAfter": {},
                "type": "ApiConnection"
              }
            },
            "foreach": "@body('FilterSensorJobsBlobsOlderThan7Days')",
            "runAfter": {
              "FilterSensorJobsBlobsOlderThan7Days": [
                "Succeeded"
              ]
            },
            "type": "Foreach"
          }
        },
        "expression": {
          "and": [
            {
              "greater": [
                "@length(body('ListAllSensorJobsBlobs')?['value'])",
                1
              ]
            }
          ]
        },
        "runAfter": {
          "ListAllSensorJobsBlobs": [
            "Succeeded"
          ]
        },
        "type": "If"
      },
      "CreateSensorItemBatchAttributeMappingsBlob": {
        "inputs": {
          "body": "@body('Parse_JSON')?['value']",
          "headers": {
            "ReadFileMetadataFromServer": true
          },
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "post",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files",
          "queries": {
            "folderPath": "sensorintelligencereferencedata/sensorjobbatchattributes",
            "name": "@{concat('sensorjobitembatchattributemappings', utcNow('yyyy-MM-ddTHH-mm'), '.json')}",
            "queryParametersSingleEncoded": true
          }
        },
        "runAfter": {
          "Parse_JSON": [
            "Succeeded"
          ]
        },
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          }
        },
        "type": "ApiConnection"
      },
      "CreateSensorJobsBlob": {
        "inputs": {
          "body": "@body('Parse_JSON_2')?['value']",
          "headers": {
            "ReadFileMetadataFromServer": true
          },
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "post",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/files",
          "queries": {
            "folderPath": "sensorintelligencereferencedata/sensorjobs",
            "name": "@{concat('sensorjobs', utcNow('yyyy-MM-ddTHH-mm'), '.json')}",
            "queryParametersSingleEncoded": true
          }
        },
        "runAfter": {
          "Parse_JSON_2": [
            "Succeeded"
          ]
        },
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          }
        },
        "type": "ApiConnection"
      },
      "GetSensorItemBatchAttributeMappings": {
        "inputs": {
          "authentication": "@parameters('DynamicsIdentityAuthentication')",
          "method": "GET",
          "uri": "@{parameters('EnvironmentUrl')}/data/SensorJobItemBatchAttributes"
        },
        "runAfter": {},
        "type": "Http"
      },
      "GetSensorJobs": {
        "inputs": {
          "authentication": "@parameters('DynamicsIdentityAuthentication')",
          "method": "GET",
          "uri": "@{parameters('EnvironmentUrl')}/data/SensorJobs"
        },
        "runAfter": {},
        "type": "Http"
      },
      "ListAllSensorJobItembatchAttributeMappings": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/foldersV2/@{encodeURIComponent(encodeURIComponent('/sensorintelligencereferencedata/sensorjobbatchattributes'))}",
          "queries": {
            "nextPageMarker": "",
            "useFlatListing": false
          }
        },
        "metadata": {
          "JTJmc2Vuc29yaW50ZWxsaWdlbmNlcmVmZXJlbmNlZGF0YSUyZnNlbnNvcmpvYmJhdGNoYXR0cmlidXRlcyUyZg==": "/sensorintelligencereferencedata/sensorjobbatchattributes/"
        },
        "runAfter": {},
        "type": "ApiConnection"
      },
      "ListAllSensorJobsBlobs": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName')))}/foldersV2/@{encodeURIComponent(encodeURIComponent('JTJmc2Vuc29yaW50ZWxsaWdlbmNlcmVmZXJlbmNlZGF0YSUyZnNlbnNvcmpvYnMlMmY='))}",
          "queries": {
            "nextPageMarker": "",
            "useFlatListing": false
          }
        },
        "metadata": {
          "JTJmc2Vuc29yaW50ZWxsaWdlbmNlcmVmZXJlbmNlZGF0YSUyZnNlbnNvcmpvYnMlMmY=": "/sensorintelligencereferencedata/sensorjobs/"
        },
        "runAfter": {},
        "type": "ApiConnection"
      },
      "Parse_JSON": {
        "inputs": {
          "content": "@body('GetSensorItemBatchAttributeMappings')",
          "schema": {
            "properties": {
              "@@odata.context": {
                "type": "string"
              },
              "value": {
                "type": "array"
              }
            },
            "type": "object"
          }
        },
        "runAfter": {
          "GetSensorItemBatchAttributeMappings": [
            "Succeeded"
          ]
        },
        "type": "ParseJson"
      },
      "Parse_JSON_2": {
        "inputs": {
          "content": "@body('GetSensorJobs')",
          "schema": {
            "properties": {
              "@@odata.context": {
                "type": "string"
              },
              "value": {
                "type": "array"
              }
            },
            "type": "object"
          }
        },
        "runAfter": {
          "GetSensorJobs": [
            "Succeeded"
          ]
        },
        "type": "ParseJson"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      },
      "DynamicsIdentityAuthentication": {
        "defaultValue": {},
        "type": "Object"
      },
      "EnvironmentUrl": {
        "defaultValue": "",
        "type": "String"
      },
      "StorageAccountName": {
        "defaultValue": "",
        "type": "String"
      }
    },
    "triggers": {
      "Recurrence": {
        "evaluatedRecurrence": {
          "frequency": "Minute",
          "interval": 3
        },
        "recurrence": {
          "frequency": "Minute",
          "interval": 3
        },
        "type": "Recurrence"
      }
    }
  },
  "parameters": {}
}
